DATASOURCE_URL=jdbc:mysql://localhost:3306/training_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
MYSQL_USER=root
MYSQL_PASSWORD=votre_mot_de_passe_mysql

# JWT Secret doit être une clé robuste (au moins 256 bits)
JWT_SECRET=VotreCleSecreteJWTGenereeEtape2

# Configuration Email
MAIL_USERNAME=votre_email@gmail.com
# Important : Utilisez un "Mot de passe d'application" (16 caractères) généré depuis la sécurité de votre compte Google, et non votre vrai mot de passe.
MAIL_PASSWORD=votre_mot_de_passe_d_application_gmail
